/* AdminComponent.css */

.admin-page-container{
  width: 500px;
  padding: 35px;
  margin: 0 auto 10px;

  border: solid;
  border-radius: 35px;
  border-width: 5px;
  border-color: #460c0c;
  background: #eee2e2;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.admin-page-container input,
.admin-page-container select {
  width: calc(100% - 20px);
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.admin-page-container button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Rest of the styles remain unchanged */

/* Add the following styles to make the admin page look like the login page */

/* AdminComponent.css */

.admin-page-container .loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000; /* Set a higher z-index */
}

.admin-page-container .success-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(252, 255, 252);
  padding: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(82, 255, 59);
  font-size: 20px;
  z-index: 1001; /* Set a higher z-index than the loader */
}

.admin-page-container .logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff0000;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admin-page-container.logout-button:hover {
  background-color: #cc0000;
}


/* Add the following styles to make the login page look like the admin page */



.admin-component-container .login-container {
  width: 500px;
  height: 300px;
  padding: 35px;
  margin: 0 auto 10px;

  border: solid;
  border-radius: 35px;
  border-width: 5px;
  border-color: #460c0c;
  background: #eee2e2;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.admin-component-container .login-container .loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
}

.admin-component-containerr .login-container .loader {
  text-align: center;
}

.admin-component-container .login-container .form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  font-size: 20px;
  position: relative;
  margin-right: 50px;

}

.admin-component-container .login-container  .input{
  width: 100%;
  height: 40px;
  background-color: #f2f7f2;
  border: solid;
  border-color: rgb(7, 102, 9);
  border-width: 2px;
  border-radius: 15px;
  margin-bottom: 10px;
  padding-left: 15px;
  font-size: 18px;
}

.admin-component-container .login-container .p{
  font-size: 15px;
  text-align: center;
  margin-top:0px;
  margin-bottom: 100x;
}

.admin-component-container .login-container .h1{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2px;
}

.admin-component-container .login-container .button{
    width: 50%;
    height: 50px;
    background-color: #63f463;
    color: rgb(10, 10, 10);
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid;
    border-color: rgb(7, 102, 9);
    border-width: 2px;
    border-radius: 15px;
    margin-top:5px;
    margin-bottom: 30px;
    margin-left: 50%;
    transform: translate(-50%, 0%);
    position: relative;
}
.admin-component-container .login-container.logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff0000;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admin-component-container .login-container .logout-button:hover {
  background-color: #cc0000;
}

.admin-component-container .login-container .loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000; /* Set a higher z-index */
}



