.circle {
    width: 30px;
    height: 30px;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 5px;
  }
  .highlight {
    background-color: red;
  }
  